// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
// $yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//custom colors
$yellow: #F78F1E;
$peach: #F6B8B8;
$purple: #6A3CBC;
$eggplant: #461B93;
