body {
  margin-top: 110px;
  margin-bottom: 70px;
  background-color: #f5f5f5;
  // background-image: url("background_patterns/hypnotize.png");
  // background-size: 300px;
  // background-repeat: repeat;
}
