.swap-show-container {
  margin-top: 10px;
}

.swap-container {
  min-height: 530px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .swap-logo {
    height: 100px;
    width: auto;
  }
}

.swap-show-card {
  margin: auto;
  border-radius: 16px;
  width: 500px;

  .card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
  }

  .card-footer {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
}

.checkbox-action {
  color: $eggplant;
  font-size: 30px;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: inherit;
}
