<div class=container>
    <div class="card-row">
        <div class="dashboard-card">
            <h6>Swapzi Score</h6>
            <p><%= @user.swapzi_score %></p>
        </div>
        <div class="dashboard-card"></div> 
        <div class="dashboard-card"></div> 
    </div>

    <div class="mt-4">
        <h4>Most recent favourites</h4>
        <% @items = [] %>
        <% @recent_favourites.each { |fav| @items << fav.item } %>
        <%= render "items/item_card_grid" %>
    </div>

    <div class="mt-4">
        <h4>Swap suggestions</h4>
    </div>
</div>
