<div class=container>
    <div class="card-row">
        <div class="dashboard-card">
            <h6>Swapzi Score</h6>
            <p><%= current_user.swapzi_score %></p>
        </div>
        <div class="dashboard-card"></div> 
        <div class="dashboard-card"></div> 
    </div>

    <% unless @recent_favourites.empty? %>
        <div class="mt-4">
            <h4>Most recent favourites</h4>
            <% @items = [] %>
            <% @recent_favourites.each { |fav| @items << fav.item } %>
            <%= render "items/item_card_grid" %>
        </div>
    <% end %>

    <div class="mt-4">
        <h4>Check out these available items</h4>
        <% @items = [] %>
        <% @item_suggestions.each { |item| @items << item } %>
        <%= render "items/item_card_grid" %>
    </div>
</div>
