<div class = container>
    <div class = "card-row">
        <div class = "dashboard-card">
            <h6>Swapzi Score</h6>
            <p><%= @user.swapzi_score %></p>
        </div>
        <div class = "dashboard-card"></div> 
        <div class = "dashboard-card"></div> 
    </div>
    <h4>Recent favourites:</h4>
    <div class = "fav-carosel">
        <div class = "fav-card"></div>
        <div class = "fav-card"></div>
        <div class = "fav-card"></div>
        <div class = "fav-card"></div>
        <div class = "fav-card"></div>
    </div>

    <h4>Swap Suggestions:</h4>
    <div class= "suggestions">
        <div class = "swap-suggestions"></div>
        <div class = "swap-suggestions"></div>
        <div class = "swap-suggestions"></div>
        <div class = "swap-suggestions"></div>
    </div>
<div>