<div class= "container">
    <h1>My Favorites</h1>
    <% if current_user.favourites.empty? %>
    <p>You Dont have Any favourites yet!</p>
        <% else %>
        <div class="row">
        <% @favourites.each do |favourite| %>
            <div class="col-md-4">
            <div class="card">
            <%= link_to item_path(favourite.item), class: "no-underline" do %>
                <% if favourite.item.photo.attached? %>
                    <%= image_tag(favourite.item.photo, class: "card-img-top") %>
                <% end %>
                <div class="card-body">
                <h5 class="card-title"><%= favourite.item.name %></h5>
                <p class="card-text"><%= favourite.item.description %></p>
                </div>
            <% end %>
            </div>
            </div>
        <% end %>
        </div>
    <% end %>
</div>

