<div class="col">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @item.name %></h5>
      <p class="card-text"><%= @item.description %></p>
      <p class="card-text"><%= @item.category %></p>
      <p class="card-text"><strong><%= @item.swapzi_points %></strong> Swapzi points</p>
    </div>
  </div>
</div>
