<% if @swap.item_1.user == @user && @swap.accepted_user_1 || @swap.item_2.user == @user && @swap.accepted_user_2 %>
  <% current_user_accepted = true %>
<% else %>
  <% current_user_accepted = false %>
<% end %>

<% if @swap.item_1.user == @user && @swap.accepted_user_2 || @swap.item_2.user == @user && @swap.accepted_user_1 %>
  <% other_user_accepted = true %>
<% else %>
  <% other_user_accepted = false %>
<% end %>

<% if @swap.item_1.user == @user && @item == @swap.item_1 || @swap.item_2.user == @user && @item == @swap.item_2 %>

  <% unless current_user_accepted %>
    <%= button_to "accept?", swap_path(@swap, is_user_1: @swap.item_1.user == @user, accepted: true, origin: @origin), class: "btn btn-outline-primary rounded-pill", method: :patch, data: { turbo_method: :patch, turbo_confirm: "Accept this swap?"} %>
  <% end %>
  
  <%= button_to "cancel swap", swap_path(@swap), class: "btn btn-outline-danger rounded-pill", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Cancel this swap?" } %>

<% else %>
  <% @other_user = @swap.item_1.user == @user ? @swap.item_2.user : @swap.item_1.user %>

  <% if other_user_accepted %>
    <span class="btn btn-outline-primary disabled rounded-pill"><%= @other_user.username %> accepted!</span>
  <% else %>
    <span class="btn btn-outline-primary disabled rounded-pill">pending accept</span>
  <% end %>

<% end %>
