<% if @swap.item_1.user == @user && @item == @swap.item_1 %>
  <% unless @swap.accepted_user_1 %>
    <%= button_to "accept?", swap_path(@swap, accepted_user_1: true, origin: @origin), class: "btn btn-outline-primary rounded-pill", method: :patch, data: { turbo_method: :patch, turbo_confirm: "Accept this swap?"} %>
  <% end %>
  <%= button_to "cancel", swap_path(@swap), class: "btn btn-outline-danger rounded-pill", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Cancel this swap?" } %>
<% elsif  @swap.item_1.user == @user && @item == @swap.item_2 %>
  <% if @swap.accepted_user_2 %>
    <span class="btn btn-outline-primary disabled rounded-pill">accepted!</span>
  <% else %>
    <span class="btn btn-outline-primary disabled rounded-pill">pending accept</span>
  <% end %>
<% elsif @swap.item_2.user == @user && @item == @swap.item_2 %>
  <% unless @swap.accepted_user_2 %>
    <%= button_to "accept?", swap_path(@swap, accepted_user_2: true, origin: @origin), class: "btn btn-outline-primary rounded-pill", method: :patch, data: { turbo_method: :patch, turbo_confirm: "Accept this swap?"} %>
  <% end %>
  <%= button_to "cancel", swap_path(@swap), class: "btn btn-outline-danger rounded-pill", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Cancel this swap?" } %>
<% else %>
  <% if @swap.accepted_user_1 %>
    <span class="btn btn-outline-primary disabled rounded-pill">accepted!</span>
  <% else %>
    <span class="btn btn-outline-primary disabled rounded-pill">pending accept</span>
  <% end %>
<% end %>
