<div class="container">
  <div class="about-points">
    <h1>Unlocking the Power of Swapzi Points</h1>
    <p>Welcome to Swapzi! 🎉 Your Swapzi score? It's like your personal adventure meter. The more you do, the higher it goes! It's your golden ticket to fantastic rewards. 😉</p>

    <div class="point-item">
      <h2>How to Earn More Points</h2>
      <ul>
        <li>Gain 100 points for listing an item on Swapzi</li>
        <li>Receive a generous 10 points when others favorite your item</li>
        <li>Accumulate points through successful swaps</li>
        <li>Earn 10 points for leaving insightful comments</li>
        <li>Share your experiences with a review and receive 10 points</li>
      </ul>
    </div>

    <div class="point-item">
      <h2>..I have many points, now what?</h2>
      <ul>
        <li>Climb up the levels</li>
        <ol>
          <li>Swapper - Access to basic features and listing items</li>
          <li>Pro Swapper - Enhanced visibility in search results, early access to new features and updates</li>
          <li>Swap Master - Exclusive access to special promotions and discounts, priority item placement in search results</li>
          <li>Swap Legend - VIP customer support, special recognition in the Swapzi community, annual Swap surprises, and more!</li>
        </ol>
        <li>Boost the visibility of your items in searches by spending points</li>
        <li>Attain a recommended status as a respected Swapzi user</li>
      </ul>
    </div>

    <div class="point-item">
      <h2><i class="fa-solid fa-unlock-keyhole"></i> Unlock Achievements</h2>
      <ul>
        <li>Trade an item that has been swapped more than 2 times</li>
        <li>Trade an item that has been swapped more than 5 times</li>
        <li>Trade an item that has been swapped more than 10 times</li>
        <li>Complete your first swap</li>
        <li>Complete your 5th swap</li>
        <li>Complete your 10th swap</li>
        <li>Add 5 items to your favorites</li>
        <li>Add 20 items to your favorites</li>
        <li>Add 50 items to your favorites</li>
        <li>Swap an item added today</li>
        <li>Post a new item</li>
        <li>Relist an item</li>
        <li>Complete a trade at 3 AM</li>
      </ul>
    </div>
  </div>
</div>
