<div class="container">
  <div class="about-points">
    <h1>Unlocking the Power of Swapzi Points</h1>
    <p>Welcome to Swapzi! 🎉 Your Swapzi score? It's like your personal adventure meter. The more you do, the higher it goes! It's your golden ticket to fantastic rewards. 😉</p>

    <div class="point-item">
      <h2>How to Earn More Points</h2>
      <ul>
        <li>Gain 100 points for listing an item on Swapzi</li>
        <li>Receive a generous 10 points when others favorite your item</li>
        <li>Accumulate points through successful swaps</li>
        <li>Earn 10 points for leaving insightful comments</li>
        <li>Share your experiences with a review and receive 10 points</li>
      </ul>
    </div>

    <div class="point-item">
      <h2>...I have many points, now what?</h2>
      <h4>Feature your items!</h4>
      <ul>
        <li>Boost the visibility of your items in searches by 100 spending points</li>
        <li>Your items will appear at the top of searches as well as on other users dashboards!</li>
      </ul>
    </div>

    <div class="point-item">
      <h2><i class="fa-solid fa-unlock-keyhole"></i> Unlock Achievements</h2>
      <ul>
        <li>You can unlock various achievements when using Swapzi. See if you can get them all!</li>
      </ul>
    </div>
  </div>
</div>
