<div class="container about-container">
  <div class="about-header">
    <h1>Unlocking the Power of Swapzi Points</h1>
    <p>Welcome to Swapzi! 🎉 Boost your Swapzi adventure with every swap, listing, and review!</p>
  </div>

  <section class="point-section">
    <div class="point-header">
      <h2><i class="point-icon fa-solid fa-coins"></i> How to Stack Up Points</h2>
    </div>
      <ul class="point-list">
        <h6>Build your points quick!</h6>
        <li class="highlight-item">List an item and instantly bag <strong>100 points</strong></li>
        <li class="highlight-item">Gain 100 points for listing an item on Swapzi</li>
        <li class="highlight-item">Receive a generous 10 points when others favorite your item</li>
        <li class="highlight-item">Accumulate points through successful swaps</li>
        <li class="highlight-item">Earn 10 points for leaving insightful comments</li>
        <li class="highlight-item">Share your experiences with a review and receive 10 points</li>
      </ul>
  </section>

  <section class="point-section">
    <div class="point-header">
      <h2><i class="point-icon fa-solid fa-trophy"></i> What can I do with my points?</h2>

    </div>
    <ul class="point-list">
     <h6>Feature your items!</h6>
      <li class="larger-text">Boost the visibility of your items in searches by 100 spending points.</li>
      <li class="larger-text">Your items will appear at the top of searches as well as on other users dashboards!</li>
      <li>Climb up the levels:</li>
      <ul class="sub-point-list">
        <li class="highlight-item">Swapper - Access to basic features and listing items</li>
        <li class="highlight-item">Pro Swapper - Enhanced visibility in search results, early access to new features and updates</li>
        <li class="highlight-item">Swap Master - Exclusive access to special promotions and discounts, priority item placement in search results</li>
        <li class="highlight-item">Swap Legend - VIP customer support, special recognition in the Swapzi community, annual Swap surprises, and more!</li>
      </ul>
    </ul>
  </section>

  <section class="point-section">
    <div class="point-header">
      <h2><i class="point-icon fa-solid fa-unlock-keyhole"></i> Unlock Achievements</h2>

    </div>


    <ul class="point-list">
      <h6>See if you can get them all!</h6>
      <li class="highlight-item">You can unlock various achievements when using Swapzi.</li>
  </section>
</div>
