<div class="banner">
  <div class="container">
    <div class="center-content">
      <h1>Swapzi</h1>
      <%= image_tag "logo-draft.png", class: "banner-logo" %>
      <p>Swap Smarter with Swapzi</p>
      <%= button_to "Apply Now", new_user_registration_path, class: "btn btn-gradient", method: :get %>
      <%# <a class="btn btn-ghost" href="#">Apply Now</a> %>
    </div>
  </div>
</div>
