<div class="banner">
  <div class="container">
    <div class="center-content">
      <p>Swap smarter with Swapzi</p>
      <%= button_to "Apply Now", new_user_registration_path, class: "btn btn-gradient", method: :get %>
      <%# <a class="btn btn-ghost" href="#">Apply Now</a> %>
    </div>
  </div>
</div>
