<div class="banner" style="background-color: #AC66CC;">
  <div class="container">
    <div class="center-content">
      <h1>Swapzi</h1>
      <p>Swap Smarter with Swapzi!</p>
      <a class="btn btn-ghost" href="#">Apply Now</a>
    </div>
  </div>
</div>
