<h1>Your Profile</h1>
<p><strong>Username:</strong> <%= @user.username %></p>
<p><strong>Location:</strong> <%= @user.location %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Swapzi Score:</strong> <%= @user.swapzi_score %></p>
