<div class="col h-100 d-flex justify-content-between">
  <div class="show-card">
    <% if @item.photo.attached? %>
      <%= image_tag(@item.photo, class: "card-img-top") %>
    <% end %>
    <div class="show-body">
      <h5 class="show-title"><%= @item.name %></h5>
      <p class="show-text"><%= @item.user.location.capitalize %></p>
    </div>
    <div class="show-footer">
      <p class="show-swapzi">Swapzi Points: <%= @item.swapzi_points %></p>
    </div>
  </div>
</div>
