.banner {
  // background-size: 100% 100%;
  margin-top: 20vh;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  // height: 100vh;
  font-family: $headers-font;
  background-image: url(banner.png);
  background-size: cover;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}


.center-content {
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 150px;
  color: $yellow;
  font-weight: bold;
  font-family: $headers-font;
}

.banner p {
  font-size: 40px;
  color: $gray;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-family: $body-font;
  font-weight: bolder;
}

.banner-logo {
  width: 50%;
}
