.btn-gradient {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background-color: $eggplant;
  font-family: $body-font;

  transition: color 0.3s ease;

  &:hover {
    background-color: $eggplant;
    color: $yellow;
  
    transition: color 0.3s ease;
  }
}

#show-button {
  width: 260px;
}

.btn-outline-dark {
  color: $eggplant;
  border: 1px solid $eggplant;

  &:hover {
    background-color: $eggplant;
  }
}

.swap-pending-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
