.btn-gradient {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient($purple, $purple);
  transition: background 0.3s ease;
  border: 1px solid $eggplant;
  font-family: $body-font;
}

.btn-gradient:hover {
  background: linear-gradient($purple, $purple);
  color: $yellow;
}
