.btn-gradient {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient($eggplant, $eggplant);
  transition: background 0.3s ease;
  border: 1px solid $eggplant;
  font-family: $body-font;
}

.btn-gradient:hover {
  background: linear-gradient($eggplant, $eggplant);
  color: $yellow;
}

#show-button {
  width: 260px;
}

.btn-outline-dark {
  color: $eggplant;
  border: 1px solid $eggplant;

  &:hover {
    background-color: $eggplant;
  }
}

.swap-pending-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
