.my-form{
    text-decoration: none;
    width: 100%;
}

.my-input{
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.my-form-btn{
    color: white;
    padding: 8px 24px;
    border-radius: 0.5rem;
    background: $eggplant;
    transition: all 0.3s ease;
    border-color: $eggplant;
    text-decoration: none;
    text-transform: capitalize;
    width: auto;
}

.my-form-btn:hover{
    scale: 1.1;
    background-color: $eggplant;
    color: white;
}
.my-buttons{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    align-items: center;
    margin-left: 20%;
}

.plain-btn{
    text-decoration: none;
    color: black;
}