.show-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;

  &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.8);
  }

  .card-img-top {
      width: 284px;
      height: 284px;
      object-fit: cover;
      border-radius: 4px;
    }

    .show-body {
      padding: 10px;
      flex-grow: 1;
      text-decoration: none;
    }

    .show-title {
      font-size: 20px;
      margin-bottom: 5px;
      text-decoration: none;
      color: black;
    }

    .show-text {
      font-size: 18px;
      color: #666;
      text-decoration: none;
      color: black;
    }

    .show-footer{

    }
    .show-swapzi{
      text-decoration: none;
      color: black;
      margin: 0;
      text-align: right;
    }
}

.card-featured {
  color: $gray;
  padding: 8px 16px;
  background-color: $yellow;
  border-radius: 5px;
  border: solid 1px $gray;
  position: absolute;
  top: 6px;
  right: 6px;

  p {
    margin: 0;
  }
}

.no-underline {
  text-decoration: none;
}
