    .show-card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
  
  .card-img-top {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
    
    .show-body {
      padding: 10px;
      flex-grow: 1;
      text-decoration: none;
    }
    
    .show-title {
      font-size: 20px;
      margin-bottom: 5px;
      text-decoration: none;
      color: black;
    }
    
    .show-text {
      font-size: 18px;
      color: #666;
      text-decoration: none;
      color: black;
    }

    .show-footer{

    }
    .show-swapzi{
      text-decoration: none;
      color: black;
      margin-left: 10px;

    }
  }
  
  .no-underline {
  text-decoration: none;
  }