.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  background: $eggplant;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-weight: bold;

  .nav-link {
      font-family: $headers-font;
      font-weight: 300;
      font-size: 22px;
      color: white;
      padding-top: 6px;
  }
}

.navbar-lewagon .navbar-brand {
  img {
    object-fit: contain;
    height: 42px;
  }

  h2 {
    color: white;
    margin: auto;
    // padding: 5px;
    // line-height: 2;
    // font-weight: 300;
    // font-size: ;
  }
} 
