.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  background: $eggplant;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  min-width: 280px;
  flex-grow: 0;
  font-weight: bold;
  justify-content: flex-end;

  .nav-link {
      font-family: $headers-font;
      font-weight: 300;
      font-size: 22px;
      color: white;
      padding-top: 6px;
  }
}

.navbar-lewagon .navbar-brand {
  width: 280px;

  img {
    object-fit: contain;
    height: 42px;
  }

  h2 {
    color: white;
    margin: auto;
    // padding: 5px;
    // line-height: 2;
    // font-weight: 300;
    // font-size: ;
  }
}

.search-bar {
  border-radius: 16px;

  .search-bar-input {
    width: 200px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .search-bar-dropdown {
    width: 192px;
  }

  .search-bar-btn {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.dropdown-item:active {
  background-color: $eggplant !important;
  }
