.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
  max-height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-weight: bold;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
