.open-card{
    width: 450px;
    height: 150px;
    box-shadow: 2px 2px 10px;
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid transparent;
    padding: 3px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.open-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.8);
}

.open-card:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}


.open-pic{
    width: 148px;
    object-fit: cover;
    border-radius: 0.6rem;
    padding: 5px;
    height:142px;
}

.open-card-info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    justify-content: space-between;
}
.location{
    padding-top: 5px;
    padding-bottom: 5px;
}
.open-card-points{
    align-self: baseline;
    width: 100%;
    text-align: end;
    margin-top: 20px;
}
.align-items{
    display: table-row;
}
