.swap-show-card {
  max-width: 600px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 10px;
  border: 1px solid transparent;
  height: 340px;
  padding: 5px;
  margin-top: 10px;
}

.swap-show-card {
  text-decoration: none
}

.card-img {
  object-fit: cover;
  width: 488px;
  height: 250px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding: 6px;
}

.swapzi-points{
  text-align: end;
  margin: 0;
}

.swap-card-title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: start;
  margin: 0;
}

.info{
  padding: 10px;
}

.swap-card-footer {
  margin-top: 8px;
  width: 100%;
  text-align: end;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // border-bottom-left-radius: 0.5rem;
  // border-bottom-right-radius: 0.5rem;
}

.pending-buttons {
  margin-left: auto;
}
