<% if @swap.item_1.user == current_user && @swap.completed_user_1 || @swap.item_2.user == current_user && @swap.completed_user_2 %>
  <span class="checkbox-action"><i class="fa-regular fa-square-check"></i></span>
<% else %>
  <%= button_to swap_path(@swap, is_user_1: @swap.item_1.user == current_user, completed: true),
    class: "checkbox-action",
    method: :patch,
    data: { turbo_method: :patch, turbo_confirm: "Mark swap as completed?" } do %>
      <i class="fa-regular fa-square"></i>
    <% end %>
<% end %>

<% if @swap.item_1.user == current_user && @swap.completed_user_2 || @swap.item_2.user == current_user && @swap.completed_user_1 %>
  <span class="checkbox-action other-user-action"><i class="fa-regular fa-square-check"></i></span>
<% else %>
  <span class="checkbox-action other-user-action"><i class="fa-regular fa-square"></i></span>
<% end %>
