<div class="container p-0">
    <div class="swap-card-container">

      <%# set @item for current user %>
      <% @item = @swap.item_1.user == current_user ? @swap.item_1 : @swap.item_2 %>
      <% if @show_content %>
        <% @header = "Your item" %>
      <% end %>
      <%# render the card for current_user %>
      <%= render "swaps/swap_index_card" %>

      <div class="d-flex flex-column align-items-center mb-3" style= "margin-top: 60px;">
        <div><%= image_tag("logo-draft.png", class: "swap-logo") %></div>
        <% if @show_content %>
          <%= link_to "See more details", swap_path(@swap), class: "btn-purple", id: "btn-width-auto" %>
        <% else %>
          <div class="my-2"></div>
        <% end %>
      </div>

      <%# set @item for other user %>
      <% @item = @swap.item_1.user == current_user ? @swap.item_2 : @swap.item_1 %>
      <% if @show_content %>
        <% @header = "#{@item.user.username}'s item" %>
      <% end %>
      <%# render the card for other user%>
      <%= render "swaps/swap_index_card" %>
    </div>
  </div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  let buttons = document.querySelectorAll('.btn-purple');

  buttons.forEach((btn, index) => {
    let logo = document.querySelectorAll('.swap-logo')[index];

    btn.addEventListener('mouseover', function() {
      logo.style.animation = 'spinHalf 0.2s';
    });

    btn.addEventListener('mouseout', function() {
      logo.style.animation = '';
    });
  });
});
</script>
