
<div class="swap-show-card">
    
    <% if @item.photo.attached? %>
      <%= image_tag(@item.photo, class: "card-img") %>
    <% end %>
    
    <div class= "info">
      <div class="swap-show-card-body">
        <h4 class="swap-card-title"><%= @item.user == @user ? "Your" : "#{@item.user.username}'s" %> <%= @item.name %></h4>
      </div>

      <div class="swap-card-footer">
        <%# render relevant buttons for each card %>
        <p class="swapzi-points">Swapzi Points: <%= @item.swapzi_points %></p>
      </div>
    </div>
    
</div>
