  <div class="container p-0">

    <%# set @item for current user %>
    <% @user_item = @swap.item_1.user == @user ? @swap.item_1 : @swap.item_2 %>

    <%# set @item for other user %>
    <% @other_item = @swap.item_1 == @user_item ? @swap.item_2 : @swap.item_1 %>

    <div class="swap-card-container">

      <% @item = @user_item %>
      <% if @show_content %>
        <% @header = "Your item" %>
      <% end %>
      <%# render the card for current_user %>
      <%= render "swaps/swap_index_card" %>

      <div class="d-flex flex-column align-items-center mb-3" style= "margin-top: 60px;">
        <div><%= image_tag("logo-draft.png", class: "swap-logo") %></div>
        <% if @show_content %>
          <div><%= link_to "See more details", swap_path(@swap), class: "btn btn-outline-dark rounded-pill my-2" %></div>
        <% else %>
          <div class="my-2"></div>
        <% end %>
      </div>

      <% @item = @other_item %>
      <% if @show_content %>
        <% @header = "#{@item.user.username}'s item" %>
      <% end %>
      <%# render the card for other user%>
      <%= render "swaps/swap_index_card" %>
    </div>
  </div>
