<div class="container">

  <h1 class="my-4">Open swapz</h1>

  <% @swaps.each do |swap| %>
    <% @swap = swap %>
    <%= render "swaps/swap_index_card_row" %>
    <% unless swap == @swaps.last %>
      <hr>
    <% end %>
  <% end %>

</div>
